@import "../node_modules/@kseniass/react-flow-editor/dist/default-theme.scss";
@import "../node_modules/@kseniass/react-flow-editor/dist/_style.scss";
$menu-width: 150px;
$log-height: 60px;
$border-color: #ddd;
$menu-background-color: #fcfcfc;

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.editor-root {
  display: grid;
  grid-template-columns: 200px 1fr 500px;
  grid-template-rows: 50px 1fr 140px;
  height: 100vh;
  user-select: none;
}

.flow-menu {
  background-color: $menu-background-color;
  border-right: 1px solid $border-color;
  padding: 10px;
  z-index: 2;
  overflow: scroll;
  grid-area: 2 / 1 / 4 / 2;
}

.react-editor-container {
  grid-area: 2 / 2 / 4 / 4;
}

.selection-zone {
  position: fixed;
  border: 1px solid $border-color;
  background: $menu-background-color;
  opacity: 0.8;
  z-index: 1;
  pointer-events: none;
}

.header {
  height: 50px;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  border-bottom: 1px solid $border-color;
  grid-area: 1 / 1 / 2 / 4;
  z-index: 1;
}

.button {
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 6px;
  background: $menu-background-color;
  cursor: pointer;
}

.tips {
  border: 1px solid $border-color;
  border-width: 1px 0 0 1px;
  background: $menu-background-color;
  grid-area: 3 / 3 / 4 / 4;
  z-index: 1;
  border-radius: 6px 0 0 0;
  line-height: 9px;
  margin: 0;
  font-size: 12px;
}
