$collapse-animation-duration: 0.4s;

.react-flow-editor {
  outline: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.zoom-container {
  width: 100%;
  height: 100%;
}

.react-flow-creating-node,
.react-flow-editor {
  > div {
    position: absolute;
  }

  canvas.grid {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  path.connection {
    stroke: $path-color;
    fill: transparent;

    &.selected {
      stroke: $selected-color;
    }
  }

  .node {
    display: inline-block;
    background-color: $node-background-color;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    border-radius: $border-radius-expanded;
    border: $node-border-width solid $node-border-color;
    box-sizing: content-box;
    z-index: 1;

    transition: $node-transitions;

    &.selected {
      border: $node-border-width-selected solid $selected-color;
      margin: #{$node-border-width - $node-border-width-selected};
      z-index: 3;
    }

    &.collapsed {
      z-index: 0;
      border-radius: $border-radius-collapsed;

      > .header {
        border-bottom: 0 solid $border-color;
        border-radius: $border-radius-collapsed;
      }
    }

    &:hover {
      z-index: 2;

      &.selected {
        border: $node-border-width-selected solid $selected-color;
        margin: #{$node-border-width - $node-border-width-selected};
      }

      border: $node-border-width solid $border-color;
      background-color: $node-background-hover-color;

      > header {
        background-color: $node-header-hover-color;
      }
    }

    .dot {
      position: relative;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: inline-block;
      user-select: none;
      -moz-user-select: none;
      cursor: pointer;

      &:hover {
        height: 12px;
        width: 12px;
      }

      &.input {
        background-color: $input-color;
        border: $endpoint-border-radius solid $input-border-color;
      }

      &.output {
        background-color: $output-color;
        border: $endpoint-border-radius solid $output-border-color;
      }
    }
  }

  svg.connections {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
